*
{
    box-sizing: border-box;
    list-style-type: none;
    padding:0;
    margin:0;
    text-decoration: none;
    
}
.container
{
    width: 500px;
    margin: auto; 
}
.title_logo
{
    color: red;
    font-family: Coming 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

/* utilities for all pages */
.red_fixed
{
   background-color: red;
   border: solid white 2px;
}
.btn
{
    display: inline-block;
    padding: 10px;
    margin-top:10px;
    background: black;
    color: rgb(255, 229, 80);
    cursor: pointer;
}
.btn:hover
{
    background: white;
    color: red;
}
.unitpic
{
    background: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;  
}
/* start header */
header
{
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1;
}
header
{
    display: flex;
    flex-direction: column;
}
header nav 
{
    display:flex;
    flex-direction: column;
  
}
header nav #login
{
    
    text-transform: uppercase;
    padding: 10px;
    margin-right:155px;
    border: solid 1px red;
    color: white;
}

header nav ul 
{
    display:flex;
}
header nav ul li,:last-child
{
    font-size: x-small;
} 
header nav ul li 
{
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;  
    
}
a
{
    color: white;
}
/* navtwo */
li
{
     border: solid 1px red;
     color:white;
     padding: 5px;
     border-radius: 5px;
     margin: 5px;
     cursor: pointer;
     
}
.navtwo ul
{
    display:flex;
    font-size: x-small;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
/*showcase */
.image
{
   background: url("portfolio3.jpg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh

}
/* footer */
footer
{
    background:#333;
    height: 30vh;
  
}
footer ul 
{
   display: flex;
   justify-content: space-around;
}
footer ul div
{
    margin-top: 70px;
}
.imageFooter
{
    background: url("html5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    width: 10vh; 
    
}
footer ul li:hover
{
    background-color: #111;
}

/* sub footer */
.sub_footer
{
    background: rgb(0, 0, 0,0.9);
    color:white;
    font-size:small;
    font-family: cursive;
}
span
{
   color: red;
}

/* Start social media */

.fa-instagram 
{
  text-align: center;
  border-radius: 40px;
  color: white;
  background: #555;
  cursor: pointer;
}
.fa-facebook-square
{
  border-radius: 40px;
  background: #555;
  cursor: pointer;
  color:white;
}

.fab
{
    padding:8px;
    margin: 3px;
    
}
.fab:hover
{
    background: red;
    color: white;
}
/* End social media */

/* End Home Page  */

/* Start section about me */
.showcase
{
   
    display: flex;
    flex-direction: column;
    
    
}
.showcase div
{
    margin: 10px 40px;
}
.showcase .showcase_content 
{
    text-align: center;
    margin-top: 10px;
}
.showcase_content p
{
    margin-top: 10px;
    padding: 5px;
}
.imageAbout
{
    background: url("aboutme.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;  
    border-radius: 50%;
}
/* End section about me */

/* Start Unit */
.showcase .imageUnit1
{
    background: url("unit1.jpg");
}
.imageUnit2
{
    background: url("unit2.jpg");
}

.imageUnit3
{
    background: url("unit3.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;  
}

.imageUnit8
{
    background: url("unit8.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;  
}
.imageUnit10
{
    background: url("unit10.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;  
}
.imageUnit11
{
    background: url("unit11.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;  
}
.imageUnit12
{
    background: url("unit12.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vh;
    height: 50vh;  
}
.imageUnit13
{
    background: url("unit13.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;  
}

.wirralMet
{
    background: url("wirralmet.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;  
}
/* End Unit */

 